<footer>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <p>OpenSearch</p>
      <p><span class="fa fa-phone fa-2"></span><span> (786) 527 1788</span></p>
      <p><span class="fa fa-envelope-o fa-2"></span><span> opensearch@gmail.com</span></p>
      <p><span class="fa fa-twitter fa-2"></span><span> @opensearch</span></p>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-right">
      <nav>
        <p><a href="">TERMS</a><a href="">Documentation</a><a href="">Sign Up</a><a href="">Login</a></p>
      </nav>
    </div>
  </div>
</footer>
