<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="banner-container">
			<img src="assets/images/beach.jpeg" class="img-width-max img-responsive">
			<div class="banner-caption">
				<h3>First slide label</h3>
				<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
			</div>
		</div>
	</div>
</div>
<div class="row m-4">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
			<div class="fa fa-question-circle-o fa-3"></div>
			<h3> Why OpenSearch ? </h3>
			<p> OpenSearch provides you with rich features at the very cheap price </p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
			<div class="fa fa-cogs fa-3"></div>
			<h3> Easy Setup </h3>
			<p> A site search could be setup within 5 minutes using OpenSearch. For more details, check <a href="">Getting Started</a> . </p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
			<div class="fa fa-bolt fa-3"></div>
			<h3> Blazing fast </h3>
			<p> Using latest open source technologies and cloud based scaling, OpenSearch provides you blazing fast responses for your site search requirements. </p>
		</div>
</div>
