.fa-3 {
  font-size : 3rem;
}
.banner-img {
  max-height: 300px;
}

.banner-container {
    img {
      max-height: 300px;
    }

    position: relative;

    .banner-caption {
      position : absolute;
      bottom : 20px;
      text-align: center;
      margin : auto;
      color : white;
      left :15%;
      right : 15%;
    }
}
