/* You can add global styles to this file, and also import other style files */
.img-width-max {
  width : 100%;
}

a {
  cursor : pointer;
}



.vertical-align-parent {
  height: 30rem;
  position:relative;
  .vertical-align {
    position:absolute;
    top:50%;
    left : 50%;
    transform : translateY(-50%) translateX(-50%);
  }
}
